<h1 align='center'>CAMPUS YAVIRAC TEC</h1>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
<div class="auto">
    <button type="button" class="btn btn-primary btn-lg"><a class="btn btn-primary" href='ghost' >regresar al menu principal</a></button>
</div>
<div class="pantalla" align ='center'>
    <img src="../../assets/img/3.jfif" >
</div>
<div class="pantalla1" align ='center'>
  <img src="../../assets/img/3.jfif" >
</div>

  <div class="icono1">
    <img src="../../assets/img/3.png" >
</div>
<div class="icono2">
  <img src="../../assets/img/3.png" >
</div>
<div class="pantalla3" align ='center'>
  <img src="../../assets/img/3.jfif" >
</div>
<div class="pantalla4" align ='center'>
<img src="../../assets/img/3.jfif" >
</div>

<div class="icono3">
  <img src="../../assets/img/3.png" >
</div>
<div class="icono4">
<img src="../../assets/img/3.png" >
</div>

<br>
<br>
<br>

<table class="table table-hover">
    <thead>
    <tr>
        <td>NOMBRE</td>
        <td>CALLE PRINCIPAL</td>
        <td>TELEFONO</td>
        <td>PAIS</td>
    </tr>
    </thead>
  
    <tbody>
        <tr *ngFor="let campus of data">
            <td>{{ campus.nombre }}</td>
            <td>{{ campus.calle_pri }}</td>
            <td>{{ campus.telefono }}</td>
            <td>{{ campus.pais }}</td>
        </tr>
    </tbody>
  </table>
  